body {
    background-color: #FAF9F6;
    font-family:'Calibri';
}

header {
    padding: 45px;
    text-align: right;
    color: rgb(17, 11, 1);
    font-size: 30px;
    background-image: url("../../images/cat-background-3.jpg");
    background-repeat: none;
    background-size: cover;  
}

h2 {
    color: navy;
    font-size: 50px;
    display:block;
    /* remove this laterjustify-content: left; */
}

article p {
  text-align: center;
  font-size: 25px;
}

 img {
    border: solid #FFB4A2;
    display: inline;
    height:auto;
    border-radius: 8px;
    margin: 10px;
}

img:hover {
    color: white;
    opacity: 0.5;
    transition: 0.5s;
    border-color: #B5838D;
}

ul li {
    display: inline-block;
    margin: 20px;
    font-size: 30px;
}

.container {
    margin: 100px;
    padding: 100px;
    border-left:3px solid pink;
    margin-left: 20%;
}

.about-me {
    padding-bottom: 10%;  
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
} 

.contact-section {
    list-style: none;
    text-align: center;
}

.heading-container {
    float:left;
    padding-left: 80px;
}








