body {
    background-color: #FEFEFA;
    font-family:"Poppins","sans-serif";
    position: sticky;
}

header {
    border: solid pink;
    padding: 45px;
    text-align: right;
    color: rgb(17, 11, 1);
    font-size: 30px;
    background-image: url("../../images/cat-background-3.jpg");
    background-repeat: none;
    background-size: cover;  
    height: 30vh;
}

h2 {
    color: navy;
    font-size: 50px;
    display:block;
}

.Kayla {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}

article p {
  text-align: center;
  font-size: 25px;
}

 img {
    border: solid #FFB4A2;
    display: inline-block;
    max-height: 433px;
    max-width: 704px;
    border-radius: 20px;
    margin:20px;
 
}

img:hover {
    color: white;
    opacity: 0.5;
    transition: 0.5s;
    border-color: #B5838D;
}

ul li {
    display: inline-block;
    margin: 20px;
    font-size: 30px;
}

.container {
    margin: 100px;
    padding: 100px;
    border-left:3px solid pink;
    margin-left: 20%;
    display: flex;
    position: relative;
}

.about-me {
    padding-bottom: 10%;  
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: left;
} 

.contact-section {
    text-align: center;
}

.heading-container {
    float:left;
    padding-left: 80px;
}

.img-1 {
    height: 700px;
    width: 700px;
}


.img-2 {  
    max-width: auto;
    height: 185px;
    width: 500px;
    bottom: 2px;
    
}

.img-3 {
    width: 500px;
    height: 185px;
    bottom: 1px;
    position: relative;

}

.navbar {
    float: right;
    list-style: none;
    
}

a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: pink;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

html {
    scroll-behavior: smooth;
}

figcaption {
font-size: 30px;
}

@media screen and (max-width: 732px) {
    h2 {
        text-decoration: underline;
    }

    .container {
        border-left: none;
    }

    header {
        background-size:contain;
        font-size: 20px;
    }

    ul li {
        display: block;
        font-size: 20px;
    }

    }




